.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled, .btn:disabled {
    opacity: .65
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00
}

.btn-warning.focus, .btn-warning:focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-warning.disabled, .btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning {
    border-color: #d39e00;
}

.filled-btn:hover {
    background-color: #10182b !important;
    border-color: #10182b !important;
    color: #c6c8ca !important;
}

.section-padding {
    padding: 10px 0 !important;
}

.header-two .menu-right-area .btn {
    padding: 30px !important;
    height: 0 !important;
    line-height: 5px !important;
}

.menu-right-area .main-menu li a {
    text-transform: none !important;
}

.menu-right-area .main-menu li a:hover {
    color: #fea217;
}

.mean-container .mean-nav .btn {
    color: #ffffff !important;
}

.mean-container a.meanmenu-reveal, .header-two a.meanmenu-reveal {
    padding-top: 10px !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-two a.meanmenu-reveal {
        margin-top: -55px !important;
    }
}

.auth-form {
    min-height: 100vh !important;
}

.auth-form .btn {
    padding: 20px 0 !important;
}

input {
    height: 60px !important;
}

.auth-form .input-wrap .form-check {
    display: flex;
    padding-left: 0 !important;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.auth-form .form-check input[type='radio'], .auth-form .form-check input[type='checkbox'] {
    height: 20px !important;
}

.auth-form .form-checkbox-input {
    height: 15px !important;
}

.auth-form .btn {
    text-transform: none !important;
}

.menu-right-area {
    justify-content: space-evenly;
    align-content: space-evenly;
}

.menu-right-area li a {
    margin-right: 10px;
    margin-left: 10px;
}

.menu-right-area .main-menu .submenu .user-menu {
    margin-right: 30px !important;
}

@media only screen and (max-width: 991px) {
    .large-screen-display {
        display: none;
    }
    .small-screen-display {
        display: block !important;
    }
    .header-two {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}

.mt-30 {
    margin-top: 30px;
}
